<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<location path="."
			  inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore"
					 path="*"
					 verb="*"
					 modules="AspNetCoreModuleV2"
					 resourceType="Unspecified" />
			</handlers>

			<aspNetCore
				processPath="dotnet"
				arguments=".\Clinica.WebAPI.dll"
				stdoutLogEnabled="true"
				stdoutLogFile=".\logs\stdout"
				hostingModel="inprocess" />
		</system.webServer>
	</location>

	<connectionStrings>
		<add name="ClinicaMedica" connectionString="Server=sql.bsite.net\MSSQL2016SQL;Database=alexander5109_clinicamedica;User Id=alexander5109_clinicamedica;Password=clinicamedica123;Encrypt=False;TrustServerCertificate=True;" />
	</connectionStrings>
</configuration>
